@import '../../assets/styles/all';

.button{
    padding: 10px 20px;
    background: $ob-blue-1;
    border:none;
    cursor: pointer;
    @include ob-button-text();
    &:hover{
        box-shadow: 1px 1px 5px rgba(black, 0.5);
    }

    &.secondary{
        background: transparent;
        color: $ob-blue-1;
    }

    &.disabled{
        background: rgba($ob-blue-1, 0.5);
        cursor: not-allowed;
    }

    &.loading{
        background: rgba($ob-blue-1, 0.5);
        cursor: wait;
    }

    i{
        font-size:12px;
        margin-left: 5px;
    }
}


