@import '../../assets/styles/all';

.splitRow{
    margin-top:40px;
    display: flex;
    flex-direction: row;
    .halfInput:first-child{
        margin-right:30px;
    }

    @include respond-to(tablet-screens) {
        flex-direction: column;
        .halfInput:first-child{
            margin-right:0;
            margin-bottom:15px;
        }
    }
}

.youCan{
    margin-bottom:15px;
}
