/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

/* Colours */
$ob-red-1: #FF0049;
$ob-blue-1: #002B45;
$ob-grey-1: #7f8e9b;
$ob-grey-2: #ced4da;
$ob-grey-3: #e4e9e9;
$ob-grey-4: #f5f5f5;

$white: #FFFFFF;
$black: #000000;


/* Layout */
$break-s: 375px;
$break-sm: 720px;
$break-md: 992px;
$break-lg: 1260px;
@mixin respond-to($media) {
    @if $media == mobile-screens {
        @media only screen and (max-width: $break-s) { @content; }
    }      
    @else if $media == tablet-screens {
        @media only screen and (max-width: $break-sm) { @content; }
    } 
    @else if $media == small-screens {
        @media only screen and (max-width: $break-md) { @content; }
    }
    @else if $media == medium-screens {
        @media only screen and (max-width: $break-lg) { @content; }
    }
    @else if $media == wide-screens {
        @media only screen and (min-width: $break-lg) { @content; }
  }
}

@mixin ob-container(){
    margin:auto;
    @include respond-to(wide-screens) { width:1200px; }
    @include respond-to(medium-screens) { width: 942px; }
    @include respond-to(small-screens) { width: 90%; }
    @include respond-to(tablet-screens) { width: 95%; }
    @include respond-to(mobile-screens) { width:100%; transform: scale(0.90) }
}


/* Text */
@mixin ob-button-text($color:$white){
    font-family: 'Quicksand';
    font-size: 14px;
    color: $color;
    font-weight: 700;
    @include respond-to(medium-screens) { font-size: 14px }
}

@mixin ob-h1($color:$ob-blue-1, $weight:700){
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: $weight;
    color: $color;
    @include respond-to(small-screens) { font-size: 24px }
    @include respond-to(tablet-screens) { font-size: 22px }
}

@mixin ob-h2($color:$ob-blue-1, $weight:700){
    font-family: 'Quicksand';
    font-size: 24px;
    font-weight:$weight;
    color: $color;
    @include respond-to(small-screens) { font-size: 20px }
    @include respond-to(tablet-screens) { font-size: 18px }

}

@mixin ob-title($color:$ob-blue-1){
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: 700;
    color: $color;
    line-height: 2em;
    @include respond-to(tablet-screens) { font-size: 12px }
}

@mixin ob-body($color:$ob-blue-1, $weight:400){
    font-family: 'Quicksand';
    font-size: 14px;
    font-weight: $weight;
    color: $color;
    @include respond-to(tablet-screens) { font-size: 12px }
}

@mixin ob-body-small($color:$ob-blue-1, $weight:400){
    font-family: 'Quicksand';
    font-size: 12px;
    font-weight:$weight;
    color: $color;
    @include respond-to(tablet-screens) { font-size: 10px }
}
